/*----- css reset-----*/

* {
    padding: 0;
    margin: 0;
    fpnt-size: 100%;
    line-height: 1em;
}

/*----- main styling -----*/

body {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Libre Baskerville', serif;
}

/*----- typography -----*/
h1,
h2,
h3 {
    font-weight: normal;
    color: #FF8924;
    text-align: center;
}

p,
blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

a {
    color: orange;
    text-decoration: none;

}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.827em;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1.999;
    margin: 1em 0 1em 0;
}

h3 {
    font-style: 1.414;
    margin: 3em 0 1em 0;
}

blockquote {
    font-size: 1.1414em;
    hanging-punctuation: : first;
    text-indent: -0.45em;
    color: orange;
}

blockquote cite {
    font-size: 1em;
}

/*-----navigation-----*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: BLACK;
    padding: 1em 0;
    font-size: 0.75em;

}

nav ul {

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}

nav ul li {

    display: inline;
    margin: 20px;

}

nav a:link {
    color: orange;
}

nav a:hover {
    color: white;
}

/*-----images-----*/

img {

    display: block;
    margin: 0em auto;
    max-width: 100%;

}

/*-----Table style-----*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption {

    margin-bottom: 1.5em;
    text-transform: uppercase;


}

th {


    color: orange;
    text-transfom: uppercase;
    font-weight: bold;
    text-align: left;
    background: black;

}

th,
td {
    padding: .6em;
}

table,
td {
    background: black;
    border: 1px solid orange;

}

td {

    color: white;

}

tr {

    background: black;

}

/*----- footer -----*/
footer {
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 1em 0;
}
